:root{
	--color-blue-1: #F1F9FF;
	--color-blue-2: #BCE0FD;
	--color-blue-3: #7FC4FD;
	--color-blue-4: #2699FB;
}

.row{

}

.column{

}

.gutters{

}

.item{
	width: 100%;
	position: relative;
}

.grid-layout{
	/* 75.34% */
}

/*!
	::: CSS GRID BASIC :::
	* Requerid.
	display: grid;

	* Syntax normaly.
	grid-template-columns: 1fr 1fr 1fr;

	* Syntax short.
	grid-template-columns: repeat(3, 1fr);
*/
.grid-basic{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.grid-basic > div{
	align-self: center;
	justify-self: center;

	/*Style div*/
	color: var(--color-blue-4);
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 20vh;
	background-color: var(--color-blue-2);
}

/*!

*/
.grid-template{
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
}

.grid-template > div{
	width: 100%;
	height: 60vh;
	position: relative;
	background-color: var(--color-blue-2);
}