:root{
	--body: #ffffff;
	--primary: #4100f5;
	--secundary: #ffcdd2;
	--text: #222222;
	--text-light: #555555;
	--text-black: #000000;
	--accent: #f8f8f8;
	--divider: #dddddd;
}

html{

}

body{
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: var(--text);
	font-size: 16px;
	font-weight: 400;
	background-color: var(--body);
}

h1, h2, h3, h4, h5, h6{
	font-style: normal;
	font-weight: 700;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2.5em;
}

h3{
	font-size: 2em;
}

h4{
	font-size: 1.5em;
}

h5{
	font-size: 1.2em;
}

h6{
	font-size: 1em;
}

a{

}

a:hover{
	color: var(--secundary);
}

p{

}

strong{

}

span{

}

button{

}